<div mat-dialog-content>
    <h2>{{datos.encabezado}}</h2>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="datos.seleccion.nombre">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Entidad</mat-label>
        <input matInput [(ngModel)]="datos.seleccion.entidad">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos.seleccion">Aceptar</button>
    <button mat-stroked-button color="primary" (click)="cerrar()">Cancelar</button>
</div>